{% if decorators -%}
{%- for decorator in decorators %}
{{ decorator }}{% endfor %}{% endif %}
class {{ name }}{% if bases %}({{ bases|join(', ') }}){% endif %}:
{%- if docstring %}
{{ docstring|indent(indent_width, true, false) }}
{% endif %}
{%- for definition in definitions %}
{{ definition|indent(indent_width) }}
{% endfor %}
{%- if not docstring and not definitions %}
{{ 'pass'|indent(indent_width, true, false) }}
{% endif %}
