{%- if decorators -%}
{%- for decorator in decorators %}
{{ decorator|trim }}{% endfor %}{% endif %}
def {{ name }}{{ signature }}:
{%- if docstring %}
{{ docstring|indent(indent_width, True, True) }}
{%- else -%}
{% endif %}
{%- if code %}
{{ code|indent(indent_width, True, True) }}
{% endif %}
